[submodule "twiddle"]
	path = twiddle
	url = git://github.com/hassy/http-twiddle.git
[submodule "clojure"]
	path = clojure
	url = git://github.com/technomancy/clojure-mode.git
[submodule "distel"]
	path = distel
	url = git://github.com/massemanet/distel.git
[submodule "emacs-color-theme-solarized"]
	path = emacs-color-theme-solarized
	url = ./emacs-color-theme-solarized
